<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/posted.css">
    <link rel="stylesheet" href="../css/edit-ad.css">
    <title>corolla|automart</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="../index.html">
                <p>automart</p>
            </a>
        </div>
        <nav class="nav">
            <ul>
                <li> <a href="register.html">Register</a></li>
                <li><a href="login.html">Log in</a></li>
            </ul>
        </nav>
    </header>
    <div id="details-seller">
        <section id="advertisement-details">
            <div class="ad-details">
                <h2>Edit the ad Details</h2>
                <div class="ad-heading" contenteditable="true">
                    <h2><span>2017 Toyota</span></h2>
                    <p><span>added 3 days ago</span></p>
                </div>
                <div class="ad-price" contenteditable="true">
                    <h2><span>Ksh 4,500,000</span></h2>
                    <p><span>NEGOTIABLE</span></p>
                </div>

                <div class="ad-pics">
                    <i class="material-icons">
                        directions_car
                    </i>
                    <i class="material-icons">
                        directions_car
                    </i>
                    <i class="material-icons">
                        directions_car
                    </i>
                    <i class="material-icons">
                        directions_car
                    </i>
                    <i class="material-icons">
                        directions_car
                    </i>
                    <i class="material-icons">
                        directions_car
                    </i>
                </div>
                <div class="ad-overview-features">
                    <div class="ad-overview">
                        <h3>Overview</h3>
                        <dl>
                            <div class="col">
                                <dt>Mileage(KM)</dt>
                                <dd contenteditable="true">4300</dd>
                            </div>
                            <div class="col" >
                                <dt>Condition</dt>
                                <dd contenteditable="true">Locally used</dd>
                            </div>
                            <div class="col" >
                                <dt>Body Type</dt>
                                <dd contenteditable="true">4 wheel drives</dd>
                            </div>
                            <div class="col" >
                                <dt>Colour</dt>
                                <dd contenteditable="true">Black</dd>
                            </div>

                            <div class="col" >
                                <dt>Fuel</dt>
                                <dd contenteditable="true">Diesel</dd>
                            </div>

                            <div class="col">
                                <dt>Transmission</dt>
                                <dd contenteditable="true">Automatic</dd>
                            </div>
                            <div class="col">
                                <dt>Duty Type</dt>
                                <dd contenteditable="true">Paid</dd>
                            </div>
                            <div class="col">
                                <dt>Interior</dt>
                                <dd contenteditable="true">Leather</dd>
                            </div>

                            <div class="col">
                                <dt>Engine size</dt>
                                <dd contenteditable="true">2993</dd>
                            </div>

                            <div class="col">
                                <dt>Year</dt>
                                <dd contenteditable="true">2017</dd>
                            </div>

                        </dl>
                    </div>
                    <div class="ad-features">
                        <h3>Features</h3>
                        <ul class="ad-feature-details" contenteditable="true">
                            <div class="col">
                                <li>Air Conditioning</li>
                            </div>
                            <div class="col">
                                <li>Airbags</li>
                            </div>
                            <div class="col">
                                <li>Alloy Wheels</li>
                            </div>
                            <div class="col">
                                <li>AM/FM Radio</li>
                            </div>
                            <div class="col">
                                <li>Armrests</li>
                            </div>
                            <div class="col">
                                <li>Bullbar</li>
                            </div>
                            <div class="col">
                                <li>CD Player</li>
                            </div>
                            <div class="col">
                                <li>Cup Holders</li>
                            </div>
                            <div class="col">
                                <li>Electric Mirrors</li>
                            </div>
                            <div class="col">
                                <li>Electric Windows</li>
                            </div>
                            <div class="col">
                                <li>Fog Lights</li>
                            </div>

                            <div class="col">
                                <li>Keyless Entry</li>
                            </div>

                            <div class="col">
                                <li>Power Steering</li>
                            </div>

                            <div class="col">
                                <li>Sidesteps</li>
                            </div>

                            <div class="col">
                                <li>Spoilers</li>
                            </div>

                            <div class="col">
                                <li>Tinted Windows</li>
                            </div>

                            <div class="col">
                                <li>Traction Control</li>
                            </div>

                            <div class="col">
                                <li>Turbo Charged</li>
                            </div>

                            <div class="col">
                                <li>Wheel Locks</li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <button>Save</button>
    </div>

    <div class="sticky">

    </div>
    <footer>
        <div class="copyright">
            <p>
                &copy; 2019 automart
            </p>
            <p>all rights reserved</p>
        </div>
    </footer>
</body>

</html>
