<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/register.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <p>automart</p>
            </a>
        </div>
        <nav class="nav">
            <ul>
                <li> <a href="views/register.html">Register</a></li>
                <li><a href="views/login.html">Log in</a></li>
            </ul>
        </nav>
    </header>
    <section id="register">
        <div>
            <div class="welcomereg">
                <h1>Welcome back to automart</h1>
                <p>Please Login to continue</p>
            </div>

            <form action="" class="signup">
                <div class="email">
                    <input type="email" placeholder="Enter your email" />
                </div>
                <div class="password1">
                    <input type="password" placeholder="Enter password" />
                </div>
                <div class="regbutton">
                    <input type="submit" value="login" />
                </div>
            </form>
        </div>
    </section>
    <div class="sticky">

    </div>
    <footer>
        <div class="copyright">
            <p>
                &copy; 2019 automart
            </p>
            <p>all rights reserved</p>
        </div>
    </footer>
</body>

</html>