<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register|automart</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/register.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="../index.html">
                <p>automart</p>
            </a>
        </div>
        <nav class="nav">
            <ul>
                <li> <a href="register.html">Register</a></li>
                <li><a href="login.html">Log in</a></li>
            </ul>
        </nav>
    </header>
    <section id="register">
        <div>
            <div class="welcomereg">
                <h1>Welcome to automart</h1>
                <p>Please create an account to continue</p>
            </div>

            <form action="" class="signup">
                <div class="firstname">
                    <input type="text" placeholder="Enter your first name" />
                </div>
                <div class="secondname">
                    <input type="text" placeholder="Enter your second name" />
                </div>
                <div class="email">
                    <input type="email" placeholder="great, now what's your email" />
                </div>
                <div class="password1">
                    <input type="password" placeholder="Enter a strong password" />
                </div>
                <div class="password2">
                    <input type="password" placeholder="repeat your password" />
                </div>
                <div class="regbutton">
                    <input type="submit" value="Register" />
                </div>
            </form>
            <div class="signin">
                <h5>
                    Already registered? login
                    <a href="#"> here </a>
                </h5>
            </div>

        </div>
    </section>
    <div class="sticky">

    </div>
    <footer>
        <div class="copyright">
            <p>
                &copy; 2019 automart
            </p>
            <p>all rights reserved</p>
        </div>
    </footer>
</body>

</html>
