<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/purchase.css">
    <title>edit order| automart</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="../index.html">
                <p>automart</p>
            </a>
        </div>
        <nav class="nav">
            <ul>
                <a><i class="material-icons">
                        account_circle
                    </i></a>
                <li><a href="#">John</a></li>
                <li><a href="../index.html">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <div class="welcomereg">
            <h1>Purchase Order page</h1>
            <p>Edit details of your purchase order</p>
            <br>
            <strong>
                <p>Please note: only desired price can be changed other fields will remain constant</p>
                <p>Also: editing other fields will invalidate your previous purchase order and generate a new one</p>
            </strong>
        </div>

        <form action="" class="signup">
            <div class="firstname">
                <input type="text" placeholder="Enter your first name" />
            </div>
            <div class="secondname">
                <input type="text" placeholder="Enter your Last name" />
            </div>
            <div class="email">
                <input type="email" placeholder="great, now what's your email" />
            </div>
            <div class="secondname">
                <input type="text" placeholder="Enter your purchase order number" />
            </div>
            <div class="secondname">
                <input type="text" placeholder="Enter your purchase order date" />
            </div>
            <div class="secondname">
                <input type="text" placeholder="Enter your vehicle type" />
            </div>
            <div class="secondname">
                <input type="text" placeholder="Enter your desired price" />
            </div>
            <div class="regbutton">
                <input type="submit" value="Submit changes" />
            </div>
        </form>
    </div>
    <div class="sticky">

    </div>
    <footer>
        <div class="copyright">
            <p>
                &copy; 2019 automart
            </p>
            <p>all rights reserved</p>
        </div>
    </footer>
</body>

</html>
