<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Admin|automart</title>
    <link rel="stylesheet" href="../css/user.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="../index.html">
                <p>automart</p>
            </a>
        </div>
        <nav class="nav">
            <ul>
                <a><i class="material-icons">
                        account_circle
                    </i></a>
                <li><a href="#">John</a></li>
                <li><a href="../index.html">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <section id="search">
        </section>
        <div>
            <section id="featured">
                <div class="featured">
                    <h2>My posted ads</h2>
                </div>
                <ul class="featured-cards">
                    <li>
                        <a href="../views/view-posted.html">
                            <div class="card">
                                <div class="card-header">Honda</div>
                                <div class="card-main">
                                    <img src="../images/crv.jpg" alt="toyota rav 4">
                                    <div class="flag-ad">
                                         <button class="mark-sold">Mark Sold</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/view-posted.html">
                            <div class="card">
                                <div class="card-header">Toyota Rav 4</div>
                                <div class="card-main">
                                    <img src="../images/rav4.jpg" alt="Toyota rav4">
                                    <div class="flag-ad">
                                         <button class="mark-sold">Mark Sold</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/view-posted.html">
                            <div class="card">
                                <div class="card-header">Dodge Journey</div>
                                <div class="card-main">
                                    <img src="../images/dodge.jpg" alt="Dodge Journey">
                                    <div class="flag-ad">
                                         <button class="mark-sold">Mark Sold</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/view-posted.html">
                            <div class="card">
                                <div class="card-header">Nissan Rogue</div>
                                <div class="card-main">
                                    <img src="../images/rogue.jpg" alt="Nissan Rogue">
                                    <div class="flag-ad">
                                         <button class="mark-sold">Mark Sold</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/view-posted.html">
                            <div class="card">
                                <div class="card-header">Honda</div>
                                <div class="card-main">
                                    <img src="../images/crv.jpg" alt="toyota rav 4">
                                    <div class="flag-ad">
                                         <button class="mark-sold">Mark Sold</button>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </li>
                    <li>
                        <a href="../views/view-posted.html">
                            <div class="card">
                                <div class="card-header">Toyota Rav 4</div>
                                <div class="card-main">
                                    <img src="../images/rav4.jpg" alt="Toyota rav4">
                                    <div class="flag-ad">
                                         <button class="mark-sold">Mark Sold</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/view-posted.html">
                            <div class="card">
                                <div class="card-header">Dodge Journey</div>
                                <div class="card-main">
                                    <img src="../images/dodge.jpg" alt="Dodge Journey">
                                    <div class="flag-ad">
                                         <button class="mark-sold">Mark Sold</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/view-posted.html">
                            <div class="card">
                                <div class="card-header">Ford explorer</div>
                                <div class="card-main">
                                    <img src="../images/ford.jpg" alt="ford explorer">
                                    <div class="flag-ad">
                                         <button class="mark-sold">Mark Sold</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/view-posted.html">
                            <div class="card">
                                <div class="card-header">Jeep Grand Cherokee</div>
                                <div class="card-main">
                                    <img src="../images/jeep.jpg" alt="Grand Cherokee">
                                    <div class="flag-ad">
                                         <button class="mark-sold">Mark Sold</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/view-posted.html">
                            <div class="card">
                                <div class="card-header">KIA Sorento</div>
                                <div class="card-main">
                                    <img src="../images/sorento.jpg" alt="kia sorento">
                                    <div class="flag-ad">
                                         <button class="mark-sold">Mark Sold</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/view-posted.html">
                            <div class="card">
                                <div class="card-header">Nissan Rogue</div>
                                <div class="card-main">
                                    <img src="../images/rogue.jpg" alt="Nissan Rogue">
                                    <div class="flag-ad">
                                         <button class="mark-sold">Mark Sold</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/view-posted.html">
                            <div class="card">
                                <div class="card-header">Honda</div>
                                <div class="card-main">
                                    <img src="../images/crv.jpg" alt="toyota rav 4">
                                    <div class="flag-ad">
                                         <button class="mark-sold">Mark Sold</button>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </li>
                    <li>
                        <a href="../views/view-posted.html">
                            <div class="card">
                                <div class="card-header">Toyota Rav 4</div>
                                <div class="card-main">
                                    <img src="../images/rav4.jpg" alt="Toyota rav4">
                                    <div class="flag-ad">
                                         <button class="mark-sold">Mark Sold</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/view-posted.html">
                            <div class="card">
                                <div class="card-header">Dodge Journey</div>
                                <div class="card-main">
                                    <img src="../images/dodge.jpg" alt="Dodge Journey">
                                    <div class="flag-ad">
                                         <button class="mark-sold">Mark Sold</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/view-posted.html">
                            <div class="card">
                                <div class="card-header">Ford explorer</div>
                                <div class="card-main">
                                    <img src="../images/ford.jpg" alt="ford explorer">
                                    <div class="flag-ad">
                                         <button class="mark-sold">Mark Sold</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/view-posted.html">
                            <div class="card">
                                <div class="card-header">Jeep Grand Cherokee</div>
                                <div class="card-main">
                                    <img src="../images/jeep.jpg" alt="Grand Cherokee">
                                    <div class="flag-ad">
                                         <button class="mark-sold">Mark Sold</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/view-posted.html">
                            <div class="card">
                                <div class="card-header">KIA Sorento</div>
                                <div class="card-main">
                                    <img src="../images/sorento.jpg" alt="kia sorento">
                                    <div class="flag-ad">
                                         <button class="mark-sold">Mark Sold</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </section>
        </div>

    </div>
    <div class="sticky">

    </div>
    <footer>
        <div class="copyright">
            <p>
                &copy; 2019 automart
            </p>
            <p>all rights reserved</p>
        </div>
    </footer>
    <script src="../js/user.js"></script>
</body>

</html>
