<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/posted.css">
    <title>corolla</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="../index.html">
                <p>automart</p>
            </a>
        </div>
        <nav class="nav">
            <ul>
                <li> <a href="register.html">Register</a></li>
                <li><a href="login.html">Log in</a></li>
            </ul>
        </nav>
    </header>
    <section id="advertisement-details">
        <h2>AD details</h2>
        <div class="ad-details">
            <div class="ad-heading">
                <h2><span>2019 Toyota</span></h2>
                <p><span>Added 3 days ago</span></p>
            </div>
            <div class="ad-price">
                <h2><span>Ksh 4,500,000</span></h2>
                <p><span>NEGOTIABLE</span></p>
            </div>
    
            <div class="ad-pics">
                <i class="material-icons">
                    directions_car
                </i>
                <i class="material-icons">
                    directions_car
                </i>
                <i class="material-icons">
                    directions_car
                </i>
                <i class="material-icons">
                    directions_car
                </i>
                <i class="material-icons">
                    directions_car
                </i>
                <i class="material-icons">
                    directions_car
                </i>
            </div>
            <div class="ad-overview">
                <h3>Overview</h3>
                <dl>
                    <dt>Mileage(KM)</dt>
                    <dd>4300</dd>
    
                    <dt>Condition</dt>
                    <dd>Locally used</dd>
    
                    <dt>Body Type</dt>
                    <dd>4 wheel drives & Suvs</dd>
    
                    <dt>Colour</dt>
                    <dd>Black</dd>
    
                    <dt>Fuel</dt>
                    <dd>Diesel</dd>
    
                    <dt>Transmission</dt>
                    <dd>Automatic</dd>
    
                    <dt>Duty Type</dt>
                    <dd>Paid</dd>
    
                    <dt>Interior</dt>
                    <dd>Leather</dd>
    
                    <dt>Engine size</dt>
                    <dd>2993</dd>
    
                    <dt>Year</dt>
                    <dd>2012</dd>
    
                </dl>
            </div>
            <div class="ad-features">
                <h3>Features</h3>
                <ul class="ad-feature-details">
                    <li>Air Conditioning</li>
                    <li>Airbags</li>
                    <li>Alloy Wheels</li>
                    <li>AM/FM Radio</li>
                    <li>Armrests</li>
                    <li>Bullbar</li>
                    <li>CD Player</li>
                    <li>Cup Holders</li>
                    <li>Electric Mirrors</li>
                    <li>Electric Windows</li>
                    <li>Fog Lights</li>
                    <li>Keyless Entry</li>
                    <li>Power Steering</li>
                    <li>Sidesteps</li>
                    <li>Spoilers</li>
                    <li>Thumbstart Ignition</li>
                    <li>Tinted Windows</li>
                    <li>Traction Control</li>
                    <li>Turbo Charged</li>
                    <li>Wheel Locks</li>
                </ul>
            </div>
        </div>
        <div class="sharing-links">
    
        </div>
    </section>
    <section id="contact-seller-form">
        <div class="contact-seller">
            <h2>Contact Seller</h2>
            <div class="seller-button">
                <button>Call Seller</button>
            </div>
            <hr>
            <h2><span>Request Call Back</span></h2>
            <form action="post" class="buyer-details">
                <div class="buyer-name">
                    <input type="text" name="buyer-name" placeholder="Name">
                </div>
                <div class="buyer-number">
                    <input type="text" name="buyer-number" placeholder="Number">
                </div>
                <div class="buyer-email">
                    <input type="email" name="buyer-email" placeholder="Email">
                </div>
                <div class="buyer-submit">
                    <input type="submit" value="Call me back">
                </div>
            </form>
        </div>
    </section>
    <div class="sticky">

    </div>
    <footer>
        <div class="copyright">
            <p>
                &copy; 2019 automart
            </p>
            <p>all rights reserved</p>
        </div>
    </footer>
</body>
</html>