<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/posted.css">
    <title>corolla</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="../index.html">
                <p>automart</p>
            </a>
        </div>
        <nav class="nav">
            <ul>
                <li> <a href="register.html">Register</a></li>
                <li><a href="login.html">Log in</a></li>
            </ul>
        </nav>
    </header>
    <div id="details-seller">
        <section id="advertisement-details">
            <div class="ad-details">
                <h2>Details</h2>
                <div class="ad-heading">
                    <h2><span>2017 Honda CRV</span></h2>
                    <p><span>added 3 days ago</span></p>
                </div>
                <div class="ad-price">
                    <h2><span>Ksh 4,500,000</span></h2>
                    <p><span>NEGOTIABLE</span></p>
                </div>

                <div class="ad-pics">
                    <img src="../images/crv.jpg" alt="Honda crv">
                    <img src="../images/crv.jpg" alt="Honda crv">
                </div>
                <div class="ad-overview-features">
                    <div class="ad-overview">
                        <h3>Overview</h3>
                        <dl>
                            <div class="col">
                                <dt>Mileage(KM)</dt>
                                <dd>4300</dd>
                            </div>
                            <div class="col">
                                <dt>Condition</dt>
                                <dd>Locally used</dd>
                            </div>
                            <div class="col">
                                <dt>Body Type</dt>
                                <dd>4 wheel drives</dd>
                            </div>
                            <div class="col">
                                <dt>Colour</dt>
                                <dd>Black</dd>
                            </div>

                            <div class="col">
                                <dt>Fuel</dt>
                                <dd>Diesel</dd>
                            </div>

                            <div class="col">
                                <dt>Transmission</dt>
                                <dd>Automatic</dd>
                            </div>
                            <div class="col">
                                <dt>Duty Type</dt>
                                <dd>Paid</dd>
                            </div>
                            <div class="col">
                                <dt>Interior</dt>
                                <dd>Leather</dd>
                            </div>

                            <div class="col">
                                <dt>Engine size</dt>
                                <dd>2993</dd>
                            </div>

                            <div class="col">
                                <dt>Year</dt>
                                <dd>2017</dd>
                            </div>

                        </dl>
                    </div>
                    <div class="ad-features">
                        <h3>Features</h3>
                        <ul class="ad-feature-details">
                            <div class="col">
                                <li>Air Conditioning</li>
                            </div>
                            <div class="col">
                                <li>Airbags</li>
                            </div>
                            <div class="col">
                                <li>Alloy Wheels</li>
                            </div>
                            <div class="col">
                                <li>AM/FM Radio</li>
                            </div>
                            <div class="col">
                                <li>Armrests</li>
                            </div>
                            <div class="col">
                                <li>Bullbar</li>
                            </div>
                            <div class="col">
                                <li>CD Player</li>
                            </div>
                            <div class="col">
                                <li>Cup Holders</li>
                            </div>
                            <div class="col">
                                <li>Electric Mirrors</li>
                            </div>
                            <div class="col">
                                <li>Electric Windows</li>
                            </div>
                            <div class="col">
                                <li>Fog Lights</li>
                            </div>

                            <div class="col">
                                <li>Keyless Entry</li>
                            </div>

                            <div class="col">
                                <li>Power Steering</li>
                            </div>

                            <div class="col">
                                <li>Sidesteps</li>
                            </div>

                            <div class="col">
                                <li>Spoilers</li>
                            </div>

                            <div class="col">
                                <li>Tinted Windows</li>
                            </div>

                            <div class="col">
                                <li>Traction Control</li>
                            </div>

                            <div class="col">
                                <li>Turbo Charged</li>
                            </div>

                            <div class="col">
                                <li>Wheel Locks</li>
                            </div>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="sharing-links">

            </div>
        </section>
        <hr class="separator">
        <section id="contact-seller-form">
            <div class="contact-seller">
                <h2>Contact Seller</h2>
                <div class="seller-button">
                    <button>Call Seller</button>
                </div>
                <hr>
                <h2><span>Request Call Back</span></h2>
                <form action="" class="buyer-details">
                    <div class="buyer-name">
                        <input type="text" name="buyer-name" placeholder="Name">
                    </div>
                    <div class="buyer-number">
                        <input type="text" name="buyer-number" placeholder="Number">
                    </div>
                    <div class="buyer-email">
                        <input type="email" name="buyer-email" placeholder="Email">
                    </div>
                    <div class="buyer-submit">
                        <input type="submit" value="Call me back">
                    </div>
                </form>
            </div>
        </section>
    </div>

    <div class="sticky">

    </div>
    <footer>
        <div class="copyright">
            <p>
                &copy; 2019 automart
            </p>
            <p>all rights reserved</p>
        </div>
    </footer>
</body>

</html>
