.make_model,
.series-year,
.mileage-body,
.trans-cond,
.duty-price {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

.m_ake,
.series,
.mileage,
.transmission,
.duty {
    display: flex;
    flex: 1;
    width: 25% !important;
    
}

.m_ake,
.m_odel,
.series,
.year2,
.mileage,
.body .transmission,
.condition,
.duty,
.price {
    padding: 5px;
}

input[type="text"] {
    height: 30px !important;
    /* width: 70% !important; */
}

::placeholder {
    color: black;
}

input[type="text"].price_fill {
    /*     width: 50% !important; */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.curr {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.land {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.photos {
    color: #f2f2f2;
    display: flex;
    justify-content: center;
}

.main-description,
.material-icons {
    color: #f2f2f2 !important;
}

.card {
    border: 2px solid #f2f2f2 !important;
}

form select{
    box-sizing: border-box;
    width: auto;
    height: 30px;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    border-bottom-width: 3px;
    border-radius: 5px;
    outline: 0;
    transition: all 0.3s ease
}