#details-seller {
    display: flex;
    width: 80%;
    margin-left: 10%;
}

.ad-details {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}

.ad-heading,
.ad-price,
.ad-pics,
.ad-features {
    display: flex;
}

.ad-overview,
dl {
    display: flex;
}

dl {
    flex-wrap: wrap;
}

dt {
    font-weight: bold;
}

dt+dd {
    display: flex;
}