* {
  box-sizing: border-box;
  /* border: 0.1px solid black; */
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #f6f7f8;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

img {
  width: 300px;
  height: 200px;
}
.sticky {
  flex: 1;
}

header {
  display: flex;
  background-color: #260957;
  justify-content: center;
  padding: 10px;
}

footer {
  display: flex;
  justify-content: center;
  background: #260957;
  color: #f2f2f2;
}

.copyright p {
  padding: 10px;
}

.nav {
  flex: -1;
  margin-right: 10%;
}

nav ul li a {
  display: flex;
  flex-direction: row;
  color: #f2f2f2;
}

.logo {
  margin-left: 10%;
  font-family: monospace;
  font-size: 15pt;
  flex: 1;
}

.logo a {
  color: #f2f2f2;
}

a {
  padding: 10px;
  text-decoration-line: none;
}

ul {
  list-style-type: none;
}

/* .flag {
  padding: 0 20px;
  text-align: center;
  line-height: 30px;
  background-color: red;
  color: #f2f2f2;
  cursor: pointer;
  border: 1px solid red;
  border-radius: 5px;
  outline: 0;
  height: 30px;
  width: 70%;
  font-size: 14pt;
} */

.flag-ad {
  margin-top: 10px;
  text-align: center;
}

.mark-sold {
  margin-top: 10px;
  text-align: center;
  padding: 0 20px;
  text-align: center;
  line-height: 30px;
  background-color:  #532380;
  color: #f2f2f2;
  cursor: pointer;
  border: 1px solid  #532380;
  border-radius: 5px;
  outline: 0;
  height: 30px;
  width: 100%;
  font-size: 14pt;
}

form input[type="button"]:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/*******Card styles*******/
.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid #532380;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px;
}

.card-header {
  color: #f2f2f2;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid #532380;
  background-color: #532380;
  padding: 5px 10px;
}

.card-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.material-icons {
  font-size: 72px;
  color: #f2f2f2;
}

.featured {
  display: flex;
  padding-top: 10px;
  flex: 1;
  margin-left: 10%;
}

.featured-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  flex-wrap: wrap;
  width: 90%;
}

input[type="button"]:hover,
a:hover {
  opacity: 0.9;
}
